<!DOCTYPE html>
<html>
	<head>
		<link href='./style.css' rel='stylesheet'  type='text/css'>
	</head>
	<body>
		<div class='container'>
			<p>dlacked는 최고의 후원사와 함께합니다.</p>
			<div class='flowZone'>
				<div class='imgBox'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
				</div>
				<div class='imgBox'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
					<img src='./img/minerva.svg'>
					<img src='./img/hufs.svg'>
					<img src='./img/rokaf.svg'>
					<img src='./img/gdg.svg'>
				</div>
			</div>
			
		</div>
	</body>
</html>