<!DOCTYPE html>
<html>
	<head>
		<link href='./style.css' rel='stylesheet'  type='text/css'>
	</head>
	<body>
		<div class='container'>
			<h2>dlacked is using these tools<br>to make something beautiful.</h2>
			<div class='imageBox'>
				<div class="images">
					<img class='img' src='./img/css.svg'>
					<img class='img' src='./img/figma.svg'>
					<img class='img' src='./img/github.svg'>
					<img class='img' src='./img/html.svg'>
					<img class='img' src='./img/js.svg'>
					<img class='img' src='./img/notion.svg'>
					<img class='img' src='./img/vite.svg'>
					<img class='img' src='./img/css.svg'>
					<img class='img' src='./img/figma.svg'>
					<img class='img' src='./img/github.svg'>
					<img class='img' src='./img/html.svg'>
					<img class='img' src='./img/js.svg'>
					<img class='img' src='./img/notion.svg'>
					<img class='img' src='./img/vite.svg'>
				</div>
				<div class="images">
					<img class='img' src='./img/css.svg'>
					<img class='img' src='./img/figma.svg'>
					<img class='img' src='./img/github.svg'>
					<img class='img' src='./img/html.svg'>
					<img class='img' src='./img/js.svg'>
					<img class='img' src='./img/notion.svg'>
					<img class='img' src='./img/vite.svg'>
					<img class='img' src='./img/css.svg'>
					<img class='img' src='./img/figma.svg'>
					<img class='img' src='./img/github.svg'>
					<img class='img' src='./img/html.svg'>
					<img class='img' src='./img/js.svg'>
					<img class='img' src='./img/notion.svg'>
					<img class='img' src='./img/vite.svg'>
				</div>
				<div class="images">
					<img class='img' src='./img/css.svg'>
					<img class='img' src='./img/figma.svg'>
					<img class='img' src='./img/github.svg'>
					<img class='img' src='./img/html.svg'>
					<img class='img' src='./img/js.svg'>
					<img class='img' src='./img/notion.svg'>
					<img class='img' src='./img/vite.svg'>
					<img class='img' src='./img/css.svg'>
					<img class='img' src='./img/figma.svg'>
					<img class='img' src='./img/github.svg'>
					<img class='img' src='./img/html.svg'>
					<img class='img' src='./img/js.svg'>
					<img class='img' src='./img/notion.svg'>
					<img class='img' src='./img/vite.svg'>
				</div>
			</div>
		</div>
		
	</body>
</html>