header {
	display: flex;
	width: 100%;
	background: #404040;
	color: white;
	align-items: center;
}

h1 {
	padding-left: 20px;
}

ul{
	display: flex;
	padding-left: 20px;
}

ul > li {
	padding: 22px;
}