<!DOCTYPE html>
<html>
	<head>
		<link href='./style.css' rel='stylesheet'  type='text/css'>
	</head>
	<body>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox">
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-ml">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
		<div class="textBox startRight">
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
			<div class="text text-mr">GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL GOAL&nbsp;</div>
		</div>
	</body>
</html>