header {
	display: flex;
	width: 100%;
	border-bottom: solid 1px gray;
	padding: 11px 0;
	justify-content: center;
	font-size: 14px;
	background: white;
}

nav > ul{
	display: flex;
	padding-left: 50px;
	text-align: center;
}

nav > ul > li {
	padding-right: 50px;
}

nav:hover .sub{
	height: 120px;
	border-bottom: solid 2px #0064ff; 
}

.title {
	height: 20px;
}

.sub {
	height: 0px;
	overflow: hidden;
	transition: 1s;
	line-height: 40px;
	border-bottom: solid 2px gray; 
}
